
    <ul class="uk-navbar-nav">
        <li>
            <div>
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: center; offset: 0">
                <form class="uk-search uk-search-default">
                <span class="uk-search-icon-flip" ></span>
                <input class="uk-search-input" type="search" placeholder="Search...">
            </form>
            </div>
        </div>
        </li>
        <li>
            <a href="" uk-icon="facebook"></a>
        </li>
        <li>
            <a href="" uk-icon="twitter"></a>
        </li>
        <li>
            <a href="" uk-icon="youtube"></a>
        </li>
    </ul>