<table width="100%" border="0" style="text-align: center;">
            <tr>
                <td><h3 class="h3bl">Siguenos</h3></td>
                <td><h3 class="h3bl">Informacion</h3></td>
                <td><h3 class="h3bl">Contacto</h3></td>
            </tr>
            <tr>
                <td>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="youtube"></a>
                                        
                                        
                </td>
                <td>
                    <p class="h3bl"> Todos los derechos reservados: Viridiana</p>
                </td>
                <td>
                    <p class="h3bl"> Contactanos a : <br> contacto@nomasmordidas.mx</p>
                </td>
            </tr>
        </table>