<table border="0"><tr><th colspan="2"><span>¿Podrías responder la siguiente encuesta?</span></th></tr><tr><td width="50%"><button class="btn btn-success uk-width-1-1" uk-toggle="target: #modal-close-default">Si</button></td><td width="50%"><button class="btn btn-danger uk-width-1-1">Después</button></td></tr> </table>



